<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!--<h1 style="color: rgb(212, 76, 147);">Rendering html page by using TemplateView</h1>
        <h2 style="color: rgb(146, 58, 223);">My name is{{name}}</h2>-->


        <h1>Form by using TemplateView</h1>

        <form method="post">

            {% csrf_token %}

            {{SFO.as_p}}

            <input type="submit">

        </form>
    </center>
    
</body>
</html>